<div class="search-div">
  <button mat-raised-button><mat-icon>add</mat-icon>Create</button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput placeholder="Search" autocomplete="off" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-progress-bar
    color="warn"
    mode="query"
    *ngIf="!dataSource"
  ></mat-progress-bar>
  <table mat-table [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of columns"
      [cdkColumnDef]="column.columnDef"
    >
      <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <mat-paginator
    [length]="pagination.totalItems"
    [pageSize]="pagination.itemsperpage"
    [pageSizeOptions]="[5, 10, 20]"
    (pageChanged)="pageChanged($event)"
  ></mat-paginator>
</div>
